.header {
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid #E5E5E5;
}
.greeting {
    font-size: 1rem;
}
.greeting p{
    font-weight: 300;
    color: #878BA9;
    margin-left: 25px;
}

